@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 1) 3%,
    rgba(60, 132, 206, 1) 38%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.video-player-container {
  position: relative;
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video-player {
  width: 640px;
  height: 480px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.face-canvas {
  position: absolute;
  pointer-events: none;
  top: 8rem;
}
.face-canvasOverlay {
  position: absolute !important;
  pointer-events: none;
}
.button-styled {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  font-size: 16px;
}
.canvas-container {
  position: absolute !important;
  top: 8rem;
}
